/CalendarBase/
/ContentBuilder/
/CrtAIEmbedded/
/CrtAnalyticsDashboard/
/CrtBase/
/CrtBaseConsts/
/CrtCalendar/
/CrtCall/
/CrtCloudIntegration/
/CrtComponentCopilot/
/CrtConfActivityLog/
/CrtCopilot/
/CrtCopilotStudio/
/CrtCore/
/CrtCoreBase/
/CrtCoreFilePreview/
/CrtDataForge/
/CrtDeduplication/
/CrtDefaultAIDataOps/
/CrtDesignerTools/
/CrtEmailSender/
/CrtEmailTemplate/
/CrtEntityEventLog/
/CrtFeatureToggling/
/CrtFileImport/
/CrtFilterAgent/
/CrtFiscalPeriods/
/CrtGeminiApiIntegraion/
/CrtLocalizationDesigner/
/CrtMacrosBase/
/CrtMessage/
/CrtML/
/CrtMLangContent/
/CrtMobileFreedomUIStylesFor7x/
/CrtNextStep/
/CrtNUI/
/CrtOmnichannelApp/
/CrtPerformanceMonitoring/
/CrtProductivityApp/
/CrtProductivityCopilot/
/CrtProductivityMobile/
/CrtRecordPermissionExtension/
/CrtSecurity/
/CrtSecurity7x/
/CrtSmsIntegration/
/CrtSpecification/
/CrtStudioCopilot/
/CrtTechnicalUsers/
/CrtTechUserCreatioALMIntegration/
/CrtTechUserCreatioMaintenance/
/CrtTechUserCreatioResKitUtility/
/CrtTouchPointBase/
/CrtTranslateProviders/
/CrtTranslation/
/CrtUIPlatform/
/CrtUIPlatform7x/
/CrtUISwitcher/
/CrtUIv2/
/CrtUserLevelSchema/
/CrtWebFarm/
/CrtWebForm/
/CrtWebFormBase/
/CrtWebhookServiceBase/
/CrtWorkflowAgentDesigner/
/CSP/
/FeatureToggling/
/Finesse/
/FolderTree/
/IntegrationV2/
/MLProcessDesigner/
/OAuth20/
/OmnichannelMessaging/
/OpenIdAuth/
/PivotTable/
/RelationshipDesigner/
/ServiceDesigner/
/SsoSettings/
/SspWorkplace/
/Workplace/
/XSSProtection/
/Custom/
/placeholder.txt
